/* Layout för Destination-sidan */
.destination-info {
    display: grid;
    grid-template-columns: 1fr;
    /* En kolumn för enkel läsbarhet */
    gap: 2rem;
    padding: 2rem;
}

.destination-info section {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.destination-info img {
    max-width: 100%;
    border-radius: 10px;
}

.destination-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.destination-info p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}