/* Grid-layout för detaljerad information */
.destination-info {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
    padding: 2rem;
    text-align: center;
}

.destination-info img {
    max-width: 100%;
    border-radius: 10px;
}

.destination-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.destination-info p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Transportinfo */
.destination-info h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #f39c12;
}