/* Reset-stilar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grundläggande body-stil */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #333;
}

/* Header och Footer */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f39c12;
    padding: 1rem 2rem;
    color: white;
}

/* Logotypen */
.header .logo img {
    height: 75px;
    /* Standardstorlek */
}

/* Anpassa logotypens storlek för mindre skärmar */
@media (max-width: 840px) {
    .header .logo img {
        height: 40px;
    }
}

@media (max-width: 780px) {
    .header .logo img {
        height: 20px;
    }
}

.header .nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.header .nav a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Buttons */
.button {
    display: inline-block;
    background-color: #f39c12;
    color: white;
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    border-radius: 15px;
    /* Rundade hörn */
    font-size: 0.9rem;
    /* Mindre textstorlek */
    transition: background-color 0.2s, transform 0.2s;
}

.button:hover {
    background-color: #d87f0a;
    transform: scale(1.05);
    /* Lätt zoom-effekt */
}

/* Responsiva justeringar för navigation */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .nav {
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .header .nav a {
        margin: 0 0.5rem;
        font-size: 0.9rem;
    }
}